<div class="row">
    <div id="top_banner_container" class="col-xs-8">
        Banner blYa
    </div>

    <div class="col-xs-4" ng-switch ="HeaderCtrl.loggedIn" >
        <span ng-switch-when="false">
            <div ng-include="'user/user_login.tpl.html'"></div>
        </span>

        <span ng-switch-when="true">
            <div ng-include="'user/user_logout.tpl.html'"></div>
        </span>
    </div>

</div>