<!DOCTYPE html>

<html ng-app="cvManager" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<?= $clientAppDirName ?>/<%= file %>"/>
    <% });
    %>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<?= $clientAppDirName ?>/<%= file %>"></script>
    <% });
    %>

</head>
<body>

    <div id="main_wrapper" class="container" ui-view="main"></div>

    <footer class="footer">
        <div class="container">

        </div>
    </footer>

    <ajax-loader></ajax-loader>

    <script type="text/javascript">
        var textResources = <?= $textResources ?>;
        var globalUser = <?= json_encode($user) ?>;
    </script>
</body>
</html>
