html, body, ul, li, p, span, div, input, hr {
    margin: 0;
    padding: 0;
}

/*ul, li {*/
    /*list-style: none;*/
/*}*/
html, body {
    height: 100%;
}

#page_wrapper {
    left:               50%;
    margin-left:        -450px;
    position:           absolute;
    width:              900px;
    min-height:         100%;
    background-color:   #eee;
    /*border:     1px solid #000;*/
}

/*#header_wrapper {*/
    /*height: 90px;*/
/*}*/

#footer_wrapper {
    height:     30px;
    width:      98%;
    padding:    1%;
    position:   absolute;
    left:       0;
    bottom:     0;
    background-color: #7b8181;
}

#header_banner {
    padding:    0.5%;
    float:      left;
    height:     85px;
    width:      500px;
    border:     1px dashed #000;
}

#flashWarning {
    background-color:   indianred;
    clear:              left;
}

#flashMessage {
    background-color:   green;
    clear:              left;
}

/*--------------------- REGISTER/LOGIN USER BLOCK BEGIN ---------------------*/

#register_errors {
    margin:  0 0 2% 0;
}

.error_msg {
    color:      red;
}

#content_wrapper {
    padding:    1% 1% 70px 1%;
    /*height:     100%;*/
}

.register_label {
    display:    inline-block;
    width:      20%;
}

.register_value {
    display:    inline-block;
    width:      25%;
}

.login_value {
    display:    inline-block;
    width:      20%;
}

#logout_block, #login_block {
    text-align:     right;
    padding:        0.5%;
}
/*--------------------- REGISTER/LOGIN USER BLOCK END ---------------------*/

.invisible {
    display: none;
}

/*--------------------- TOP MENU START -------------------------*/
.top_menu {
    margin:     10px 5px;
}

.top_menu li {
    list-style: none inside none
}
/*--------------------- TOP MENU END -------------------------*/


/*------------------ New CV form adding START -----------------------*/
#personal_info {
    display: table;
}

.personal_info_row {
    display: table-row;
}

.personal_info_cell_label {
    display:    table-cell;
    width:      20%;
    padding:    0.5% 0;
}

.personal_info_cell_val {
    display:    table-cell;
    width:      45%;
    padding:    0.5% 0;
}

.personal_info_cell_val input, .personal_info_cell_val select {
    width: 90%;
}

#skill_wrapper {
    display:    table;
    width:      96%;
    border:     1px solid #2B2B2B;
    padding:    2%;
}

#education_wrapper {
    display:    table;
    width:      99%;
    border:     1px solid #2B2B2B;
    padding:    0.5%;
}

.skill_row, .education_row {
    display:    table-row;
}

.skill_group_name_label, .skill_group_name_value, .skill_group_content_label, .skill_group_content_value,
.edu_inst_name_label, .edu_inst_name_value, .edu_inst_start_label, .edu_inst_start_value,
.edu_inst_finish_label, .edu_inst_finish_value, .edu_inst_specialty_label, .edu_inst_specialty_value {
    display:    table-cell;
}

.skill_group_name_label {
    width:  14%;
}

.skill_group_name_value {
    width:  20%;
}

.skill_name_input {
    width:  100%;
}

.skill_group_content_label {
    text-align:     right;
    width:          17.5%;
}

.skill_group_content_value {
    width:  47%;
}

.skill_group_content_value input {
    width:  90%;
}

#skill_row_template {
    display: none;
}

.delete_skill, .delete_education {
    display:    none;
}

.skill_row:hover a, .education_row:hover a {
    display:    inline;
}



.edu_inst_name_label {
    width:      6%;
    text-align: right;
    padding:    0 3px 0 0 ;
}

.edu_inst_name_value  {
    width:  30%;
}

.edu_inst_name_value  input {
    width:      100%;
}

.edu_inst_start_label {
    text-align: right;
    width:      5%;
    padding:    0 3px 0 0;
}

.edu_inst_start_value {
    width:  8.5%;
}

.edu_inst_start_value input {
    position:   relative;
    width:      95%;
}

.edu_inst_finish_label {
    text-align: right;
    padding:    0 3px 0 0;
    width:      5%;
}

.edu_inst_finish_value {
    width: 8.5%;
}

.edu_inst_finish_value input {
    position:   relative;
    width:      95%;
}

.edu_inst_specialty_label {
    width:      8%;
    text-align: right;
    padding:    0 3px 0 0;
}

.edu_inst_specialty_value {
}

.edu_inst_specialty_value input {
    width: 80%;
}

#add_education_button_wrapper {
    width:200%;
}

#education_row_template {
    display: none;
}

.education_row:hover a {
    display:    inline;
}

#work_experience_wrapper, #other_info_wrapper {
    border:     1px solid #2B2B2B;
    padding:    2%;
}

#work_experience_row_template {
    display: none;
}

.work_experience_label {
    display:        inline-block;
    width:          20%;
    vertical-align: top;
}

.work_experience_value {
    display:    inline-block;
    width:      50%;
}

.work_experience_row {
    margin:     0 0 2% 0;
}

.delete_work_experience {
    vertical-align: top;
}

.other_info_group_content_label, .other_info_group_name_label {
    display:    inline-block;
    width:      20%;
}

.other_info_group_content_label {
    vertical-align: top;
}

.other_info_group_name_value input, .other_info_group_content_value textarea {
    width:      50%;
}

#other_info_row_template {
    display:    none;
}

.delete_other_info {
    vertical-align: top;
}
/*------------------ New CV form adding END -----------------------*/

/*------------------ Manage CV START -------------------*/
#cv_list_wrapper {
    width:      100%;
}

.cv_list_row td {
    padding: 0.5%;
}

.cv_list_row td.email_cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cv_list_row:hover {
    background-color: #BDBDBD;
}

/*------------------ Manage CV END -------------------*/