.cv-calendar-popup-wrapper {
    position:   absolute;
    border:     1px solid #000;
    width:      300px;
    height:     200px;
    background-color: #eee;
    z-index:    1000;
}

.cv-calendar-block {
    display:    block;
}

.cv-calendar-hidden {
    display:    none;
}