<div class="cv-calendar-container">
    <span></span>

    <div class="cv-calendar-popup-wrapper cv-calendar-hidden">
        <div class="cv-calendar-month">
            <span></span>
            <span>{{ year }}</span>
            <span></span>
        </div>

        <div class="cv-calendar-year">
            <span></span>
            <span>{{ month }}</span>
            <span></span>
        </div>

        <div class="cv-calendar-dates">
            <p ng-repeat="date in monthDates">
                <a href="" ng-click="setD(date)">{{ date.val }} - {{ date.current }}</a>
            </p>
        </div>
    </div>
</div>

