<div ng-controller="HomeMainCtrl">
    <div>{{ ::AppCtrl.lang['Welcome to the site that will help you generate, store and manage Your CV in different formats.'] }}</div>
    <div>{{ ::AppCtrl.lang['At this moment HTML and Pdf formats are supported. More formats are planned in future: Word, Image.'] }}</div>
    <div>{{ ::AppCtrl.lang['We are also planning to add possibility to add possibility to send CV right from the site.'] }}</div>
</div>