#top_banner_container {
  border: 1px dashed #000;
  height: 100px;
}

.top_menu ul {
    margin:     0;
    padding:    0;
}

.top_menu ul li {
    float:      left;
    list-style: none;
    margin:     1em;
}