<div ng-include="'header/header.tpl.html'" ng-controller="HeaderCtrl"></div>

<div class="row">
    <div id="main_content" class="col-xs-12"
         ng-include='"home/home_main.tpl.html"'></div>
</div>
