<div ng-include="'header/header.tpl.html'" ng-controller="HeaderCtrl"></div>

<div class="row">
    <div id="top_menu" class="top_menu">
        <ul>
            <li ng-repeat="item in DashboardCtrl.menuItems track by $index">
                <a href="" ng-click="item.action()">{{ ::AppCtrl.getStrUp(item.label) }}</a>
            </li>
        </ul>
    </div>

    <div id="main_content" class="col-xs-12" ng-include='"home/home_main.tpl.html"'></div>
</div>