<div id="logout_block">
    <div>
        <div>{{ ::AppCtrl.getStrUp('welcome') }}</div>
        <div>{{ ::AppCtrl.user.name }}</div>
    </div>

    <div>
        <a href="" ng-click="AppCtrl.logout()"
           class="btn btn-primary">{{ ::AppCtrl.getStrUp('logout') }}</a>
    </div>

    <div>
        <a href="{{ $data['uri']['changePasswordForm'] }}"><?= mb_ucfirst(Lang::get('app.change_password')); ?></a>
    </div>
</div>