<div ng-include="'header/header.tpl.html'" ng-controller="HeaderCtrl"></div>

<div class="row">
    <br />
    <div class="col-xs-12">
        <form name="user_register_form"
              ng-submit="UserRegisterCtrl.register(newUser)"
              novalidate="true"  >

            <input name="_token" type="hidden" value="{{ ::UserRegisterCtrl.token }}" />

            <div class="row">
                <div class="col-xs-2">
                    <label for="user_register_email">{{ ::AppCtrl.getStrUp('email') }}</label>
                </div>

                <div class="col-xs-3">
                    <input id="user_register_email"
                           type="text"
                           name="email"
                           ng-model="newUser.email"
                           ng-change="UserRegisterCtrl.hideEmailErrors()"
                           required />
                </div>

                <div class="col-xs-3">
                    <span class="error_label"
                          ng-show="user_register_form.email.$invalid
                                    && user_register_form.email.$dirty">
                        {{ ::AppCtrl.getStrUp('email_required') }}
                    </span>

                    <span class="error_label"
                          ng-show="UserRegisterCtrl.errors.emailErrorsShow">
                        {{ UserRegisterCtrl.errors.emailErrors }}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label for="user_register_password">{{ ::AppCtrl.getStrUp('password') }}</label>
                </div>

                <div class="col-xs-3">
                    <input id="user_register_password"
                           type="password"
                           name="password"
                           ng-model="newUser.password"
                           ng-change="UserRegisterCtrl.hidePasswordErrors()"
                           required />
                </div>

                <div class="col-xs-3">
                    <span class="error_label"
                          ng-show="user_register_form.password.$invalid
                                    && user_register_form.password.$dirty">
                        {{ ::AppCtrl.getStrUp('password_required') }}
                    </span>

                    <span class="error_label"
                          ng-show="UserRegisterCtrl.errors.passwordErrorsShow">
                        {{ UserRegisterCtrl.errors.passwordErrors }}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label for="user_register_password_confirm">{{ ::AppCtrl.getStrUp('password_confirm') }}</label>
                </div>

                <div class="col-xs-3">
                    <input id="user_register_password_confirm"
                           type="password"
                           name="password_confirmation"
                           ng-model="newUser.password_confirmation"
                           ng-change="UserRegisterCtrl.hidePasswordErrors()"
                           required />
                </div>

                <div class="col-xs-3">
                    <span class="error_label"
                          ng-show="user_register_form.password_confirmation.$invalid
                                    && user_register_form.password_confirmation.$dirty">
                        {{ ::AppCtrl.getStrUp('password_confirmation_required') }}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button id="user_register_button">{{ ::AppCtrl.getStrUp('register') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>