<form name="user_login" ng-controller="UserCtrl" ng-submit="UserCtrl.login(credentials)">

    <input type="hidden"
           name="_token"
           ng-model="credentials._token"
           value="{{ _token }}" />

    <div class="row">
        <div class="col-xs-4">
            <label for="user_login">{{ ::AppCtrl.getStrUp('email') }}</label>
        </div>

        <div class="col-xs-5">
            <input id="user_login"
                   name="username"
                   type="text"
                   ng-model="credentials.username"
                   ng-focus="UserCtrl.resetError()" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <label for="user_password">{{ ::AppCtrl.getStrUp('password') }}</label>
        </div>

        <div class="col-xs-5">
        <input id="user_password"
               type="password"
               name="password"
               ng-model="credentials.password"
               ng-focus="UserCtrl.resetError()" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <button id="user_login_button">{{ ::AppCtrl.getStrUp('login') }}</button>
        </div>

        <div class="col-xs-5">
            <span class="error_msg"
                  ng-if="UserCtrl.loginError">
                {{ AppCtrl.getStrUp('error_login') }}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <a href="" ng-click="UserCtrl.registerUser()">{{ ::AppCtrl.getStrUp('dont_have_account') }}?</a>
        </div>
    </div>

</form>