.cv_section {
    border-bottom: 1px dashed #000;
    margin: 0em 0 3em 0;
    padding: 0 0 1em 0;
}

.cv_section_subtitle {
    font-size: 2em;
    margin: 0em 0 0.5em 0;
    font-weight: bold;
    font-style: italic;

}

.cv_personal_info_field {
    width:  90%;
}

.error_label {
    color:      red;
}

.cv_skill_field {
    width:  90%;
}

.cv_skill_remove_button {
    position:   relative;
    top:        2em;
}

#cv_skill_more_button {
    margin-top: 0.5em;
}

.cv_edu_institution_value, .cv_edu_speciality_value, .cv_edu_end_value, .cv_edu_start_value {
//    width: 90%;
}

