<div ng-include="'header/header.tpl.html'" ng-controller="HeaderCtrl"></div>

<div class="row">
    <div id="top_menu" class="top_menu">
        <ul ng-repeat="item in newCvCtrl.menuItems track by $index">
            <li><a href="" ng-click="item.action()">{{ ::AppCtrl.getStrUp(item.label) }}</a></li>
        </ul>
    </div>
</div>

<form name="new_cv" ng-submit="newCvCtrl.addCV()" novalidate>
    <div id="cv_personal_info" class="cv_section">
        <div class="row">
            <div class="col-xs-4">
                <div class="cv_section_subtitle">{{ ::AppCtrl.getStrUp('personal_information') }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label for="locale_id">{{ ::AppCtrl.getStrUp('language') }}</label>
            </div>

            <div class="col-xs-4">
                <select id="locale_id"
                        name="locale_id"
                        class="cv_personal_info_field"
                        ng-model="newCvCtrl.cv.personal_info.locale_id"
                        ng-options="locale.id as locale.language_long_name for locale in newCvCtrl.locales"
                        required >
                    <option value="">{{ ::AppCtrl.getStrUp('select_language') }}</option>
                </select>
            </div>

            <div class="col-xs-3">
                <span class="error_label"
                      ng-show="new_cv.locale_id.$invalid && !new_cv.locale_id.$pristine">
                    {{ ::AppCtrl.getStrUp('language_required') }}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label for="cv_name">{{ ::AppCtrl.getStrUp('cv_name') }}</label>
            </div>

            <div class="col-xs-4">
                <input id="cv_name"
                       name="cv_name"
                       class="cv_personal_info_field"
                       type="text"
                       ng-model="newCvCtrl.cv.personal_info.cv_name" required />

            </div>

            <div class="col-xs-3">
                <span class="error_label"
                      ng-show="new_cv.cv_name.$invalid && !new_cv.cv_name.$pristine">
                    {{ ::AppCtrl.getStrUp('cv_name_required') }}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label for="first_name">{{ ::AppCtrl.getStrUp('first_name') }}</label>
            </div>
            <div class="col-xs-4">
                <input id="first_name"
                       name="first_name"
                       class="cv_personal_info_field"
                       type="text"
                       ng-model="newCvCtrl.cv.personal_info.first_name" required />
            </div>
            <div class="col-xs-3">
                <span class="error_label" ng-show="new_cv.first_name.$invalid && !new_cv.first_name.$pristine">
                    {{ ::AppCtrl.getStrUp('first_name_required') }}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label for="last_name">{{ ::AppCtrl.getStrUp('last_name') }}</label>
            </div>
            <div class="col-xs-4">
                <input id="last_name"
                       class="cv_personal_info_field"
                       type="text"
                       ng-model="newCvCtrl.cv.personal_info.last_name" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label for="birth_date">{{ ::AppCtrl.getStrUp('birth_date') }}</label>
            </div>
            <div class="col-xs-2">

                <p class="input-group">
                    <input id="birth_date"
                           type="text"
                           class="form-control"
                           datepickerLocaldate
                           datepicker-popup="{{ newCvCtrl.dateFormat }}"
                           datepicker-options="dateOptions"
                           ng-model="newCvCtrl.cv.personal_info.birth_date"
                           is-open="newCvCtrl.birthDateOpened"
                           show-button-bar="false"
                    />
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="newCvCtrl.open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
                -- {{ newCvCtrl.cv.personal_info.birth_date }} --
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label for="email">{{ ::AppCtrl.getStrUp('email') }}</label>
            </div>
            <div class="col-xs-4">
                <input id="email"
                       name="email"
                       class="cv_personal_info_field"
                       type="text"
                       ng-model="newCvCtrl.cv.personal_info.email" required />
            </div>
            <div class="col-xs-3">
                <span class="error_label" ng-show="new_cv.email.$invalid && new_cv.email.$dirty">
                    {{ ::AppCtrl.getStrUp('email_required') }}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label for="skype">{{ ::AppCtrl.getStrUp('skype') }}</label>
            </div>
            <div class="col-xs-4">
                <input id="skype"
                       class="cv_personal_info_field"
                       type="text"
                       ng-model="newCvCtrl.cv.personal_info.skype" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label for="contact_phone">{{ ::AppCtrl.getStrUp('contact_phone') }}</label>
            </div>
            <div class="col-xs-4">
                <input id="contact_phone"
                       class="cv_personal_info_field"
                       type="text"
                       ng-model="newCvCtrl.cv.personal_info.contact_phone" />
            </div>
        </div>
    </div>

    <div id="cv_skills" class="cv_section">
        <div class="row">
            <div class="col-xs-4">
                <div class="cv_section_subtitle">{{ ::AppCtrl.getStrUp('skills') }}</div>
            </div>
        </div>

        <div class="row"
             ng-repeat="skillItem in newCvCtrl.cv.skills track by $index">
            <div class="col-xs-4">
                <label for="cv_skill_name_{{ $index }}">{{ ::AppCtrl.getStrUp('skill_group') }}</label>
                <input id="cv_skill_name_{{ $index }}"
                       class="cv_skill_field"
                       ng-model="newCvCtrl.cv.skills[$index].group_name"
                       type="text" />
            </div>
            <div class="col-xs-7">
                <label for="cv_skill_val_{{ $index }}">{{ ::AppCtrl.getStrUp('skill_value') }}</label>
                <input id="cv_skill_val_{{ $index }}"
                       class="cv_skill_field"
                       ng-model="newCvCtrl.cv.skills[$index].group_content"
                       type="text" />
            </div>

            <div class="col-xs-1">
                <button class="cv_skill_remove_button"
                        ng-click="newCvCtrl.removeSkill($index)">{{ ::AppCtrl.getStrUp('remove') }}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <button id="cv_skill_more_button"
                        ng-click="newCvCtrl.addSkill()">{{ ::AppCtrl.getStrUp('more_skills') }}</button>
            </div>
        </div>
    </div>

    <div id="cv_education" class="cv_section">
        <div class="row">
            <div class="col-xs-4">
                <div class="cv_section_subtitle">{{ ::AppCtrl.getStrUp('education') }}</div>
            </div>
        </div>

        <div class="row" ng-repeat="skillItem in newCvCtrl.cv.educations track by $index">
            <div class="col-xs-5">
                <label for="education_inst_{{ $index }}">{{ AppCtrl.getStrUp('institution') }}</label>
                <input id="education_inst_{{ $index }}"
                       class="cv_edu_institution_value"
                       ng-model="newCvCtrl.cv.educations[$index].educational_inst"
                       type="text"
                />
            </div>

            <div class="col-xs-2">
                <label for="education_start_{{ $index }}">{{ AppCtrl.getStrUp('start_date') }}</label>

                <p class="input-group">
                    <input id="education_start_{{ $index }}"
                           type="text"
                           class="form-control"
                           datepicker-popup="{{ newCvCtrl.dateFormat }}"
                           datepicker-options="dateOptions"
                           ng-model="newCvCtrl.cv.educations[$index].date_start"
                           is-open="newCvCtrl.cv.educations[$index].displayStartDate"
                           show-button-bar="false"
                            />
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="newCvCtrl.openEducationCal($index, 0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>

            </div>

            <div class="col-xs-2">
                <label for="education_end_{{ $index }}">{{ AppCtrl.getStrUp('end_date') }}</label>

                <p class="input-group">
                    <input id="education_end_{{ $index }}"
                           type="text"
                           class="form-control"
                           datepicker-popup="{{ newCvCtrl.dateFormat }}"
                           datepicker-options="dateOptions"
                           ng-model="newCvCtrl.cv.educations[$index].date_finish"
                           is-open="newCvCtrl.cv.educations[$index].displayFinishDate"
                           show-button-bar="false"
                            />
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="newCvCtrl.openEducationCal($index, 1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>

            <div class="col-xs-2">
                <label for="education_speciality_{{ $index }}">{{ AppCtrl.getStrUp('speciality') }}</label>
                <input id="education_speciality_{{ $index }}"
                       class="cv_edu_speciality_value"
                       ng-model="newCvCtrl.cv.educations[$index].specialty"
                       type="text"
                />
            </div>

            <div class="col-xs-1">
                <button ng-click="newCvCtrl.removeEducation($index)">{{ ::AppCtrl.getStrUp('remove') }}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <button ng-click="newCvCtrl.addEducation()">{{ ::AppCtrl.getStrUp('add_education') }}</button>
            </div>
        </div>
    </div>

    <div id="cv_work" class="cv_section">
        <div class="row">
            <div class="col-xs-4">
                <div class="cv_section_subtitle">{{ ::AppCtrl.getStrUp('work experience') }}</div>
            </div>
        </div>

        <div ng-repeat="work in newCvCtrl.cv.workExperiences track by $index">
            <div class="row">
                <div class="col-xs-2">
                    <label for="cv_company_name_{{ $index }}">{{ AppCtrl.getStrUp('company_name') }}</label>
                </div>

                <div class="col-xs-7">
                    <input id="cv_company_name_{{ $index }}"
                           class="cv_work_company_name"
                           ng-model="newCvCtrl.cv.workExperiences[$index].company_name"
                           type="text"
                            />
                </div>

                <div class="col-xs-3">
                    <button ng-click="newCvCtrl.removeWork()">{{ AppCtrl.getStrUp('remove_work_experience') }}</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label for="cv_start_date_{{ $index }}">{{ AppCtrl.getStrUp('start_date') }}</label>
                </div>
{{ newCvCtrl.dateOptions }}
                <div class="col-xs-2">
                    <input id="cv_start_date_{{ $index }}"
                           type="text"
                           class="form-control"
                           datepicker-options="newCvCtrl.dateOptions"
                           datepicker-popup="yyyy-MM-dd"
                           ng-model="newCvCtrl.cv.workExperiences[$index].date_start"
                           show-weeks="false"
                           show-button-bar="false"
                            />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label for="cv_end_date_{{ $index }}">{{ AppCtrl.getStrUp('end_date') }}</label>
                </div>

                <div class="col-xs-6">
                    <input id="cv_end_date_{{ $index }}"
                           class="cv_work_end_date"
                           ng-model="newCvCtrl.cv.workExperiences[$index].date_finish"
                           type="text"
                            />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label for="cv_position_{{ $index }}">{{ AppCtrl.getStrUp('position') }}</label>
                </div>

                <div class="col-xs-6">
                    <input id="cv_position_{{ $index }}"
                           class="cv_work_position"
                           ng-model="newCvCtrl.cv.workExperiences[$index].position"
                           type="text"
                            />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label for="cv_position_{{ $index }}">{{ AppCtrl.getStrUp('position') }}</label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <textarea id="cv_description_{{ $index }}"
                           class="cv_work_description"
                           type="text"
                           ng-model="newCvCtrl.cv.workExperiences[$index].description" ></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <button ng-click="newCvCtrl.addWork()">{{ ::AppCtrl.getStrUp('add_work') }}</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <button ng-click="newCvCtrl.saveCv()">{{ ::AppCtrl.getStrUp('save_cv') }}</button>
        </div>
        <div class="col-xs-3">
            <span class="error_label"
                  ng-show="new_cv.$invalid && new_cv.$submitted">{{ ::AppCtrl.getStrUp('please_check_errors') }}</span>
        </div>
    </div>
</form>