/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */

#main_wrapper {
    background-color:   #eee;
}

div, ul, li, a, p, html, body, table, tr, td, th, input, option, select,
label {
    margin:     0;
    padding:    0;
}


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';


/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/user/user.less';
@import '../app/cv-manager/cv-manager.less';
@import '../app/cv-form/cv-form.less';
@import '../app/calendar/calendar.less';
@import '../app/ajax-loader/ajax-loader.less';
