<div ng-include="'header/header.tpl.html'" ng-controller="HeaderCtrl"></div>

<div class="row">
    <div id="top_menu" class="top_menu">
        <ul ng-repeat="item in CvManagerCtrl.menuItems track by $index">
            <li><a href="" ng-click="item.action()">{{ ::AppCtrl.getStrUp(item.label) }}</a></li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-xs-1"><span class="cv_table_title">{{ ::AppCtrl.getStrUp('cv_id') }}</span></div>

    <div class="col-xs-7"><span class="cv_table_title">{{ ::AppCtrl.getStrUp('cv_information') }}</span></div>

    <div class="col-xs-4"><span class="cv_table_title">{{ ::AppCtrl.getStrUp('cv_control') }}</span></div>
</div>

<div class="row cv_item" ng-repeat="cvItem in CvManagerCtrl.cvList track by $index">
    <div class="col-xs-1">
        {{ ::cvItem.id }}
    </div>

    <div class="col-xs-7">
        {{ ::cvItem.display }}
    </div>

    <div class="col-xs-4">
        <a class="cv_edit_button btn btn-primary"
           ng-click="CvManagerCtrl.editCv(cvItem)">{{ ::AppCtrl.getStrUp('edit') }}</a>

        <a class="cv_edit_button btn btn-primary"
                ng-href="/cv/view/{{ cvItem.id }}/html"
                target="_blank">{{ ::AppCtrl.getStrUp('view_html') }}</a>

        <a class="cv_edit_button btn btn-primary"
                ng-href="/cv/view/{{ cvItem.id }}/pdf"
                target="_blank">{{ ::AppCtrl.getStrUp('view_pdf') }}</a>

        <a class="cv_edit_button btn btn-primary"
           ng-click="CvManagerCtrl.deleteCv(cvItem)">{{ ::AppCtrl.getStrUp('delete') }}</a>
    </div>
</div>
